.main-container {
    background-color: red;
    padding: 15px;
    width: 100%;
    min-height: 50%;
    margin: 10px 10px 10px 0;
    display: grid;
    grid-template-rows: 70% auto;
}


.preview-container {
    background-color: white;
    display: grid;
    grid-template-rows: 75% auto 20%;
}

.edit-buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}

.edit-btn {
    background-color: #8c92ff;
    text-align: center;
}

.del-btn {
    background-color: #ff1768;
    text-align: center;
}

.screen-container {
    display: flex;
}

.preview-screen {
    width: 100%;
    display: flex;
    border: black solid;
}

.preview-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px;
}

.preview-btn {
    border: black solid;
    text-align: center;
}

#selected {
    background-color: red;
}

.layout {
    margin: 5px;
    width: 100%;
    border: black solid;
    background-color: gray;
    display: flex;
}

.border-lay {
    display: grid;
}
.box-lay {}
.flow-lay {}
.grid-lay {}

.code-container {
    background-color: #303030;
}


body, html {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}